In [2]:
#Print Hello World!
print("Hello World!")

Hello World!

In [4]:
#Sum of two numbers
a=10
b=5
print("The sum is:", a+b)

The sum is: 15

In [6]:
#Square of a number
num=7
print("The square of the number is:", num**2)

The square of the number is: 49

In [12]:
#Accept the user's name and greet them with it
name="Slice"
print(f"Hello,{name}!")

Hello,Slice!

In [14]:
#Even or odd
num=4
if num%2==0:
    print(f"{num} is even.")
else:
    print(f"{num} is odd.")

4 is even.

In [16]:
#Return a new list with the unique elements of the first list
first=[1, 2, 3, 2, 4, 1, 5]
unique_f=list(set(first))
print("List with the unique elements:", unique_f)

List with the unique elements: [1, 2, 3, 4, 5]

In [18]:
#Celcius to Fahrenheit
celcius=25
fahrenheit=(celcius*9/5)+32
print(f"{celcius}째C is equal to {fahrenheit}째F.")

25째C is equal to 77.0째F.

In [20]:
#Area of a circle
import math
radius=7
area=math.pi*radius**2
print("The area of a circle is:", area)

The area of a circle is: 153.93804002589985

In [22]:
#Reverse a string
string="Python"
rev_string=string[::-1]
print("Reversed string:", rev_string)

Reversed string: nohtyP

In [30]:
#Prime number 
num=29
if num>1:
    for i in range(2, int(num**0.5)+1):
        if num%i==0:
            print(f"{num} is not a prime number.")
            break
        else:
            print(f"{num} is a prime number.")   
else:
    print(f"{num} is not a prime number.")

29 is a prime number.
29 is a prime number.
29 is a prime number.
29 is a prime number.

In [47]:
#Factorial of a number
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
num=5
print("The factorial is:", factorial (num))

The factorial is: 120

In [45]:
#Largest from the given list
list=[10, 20, 30, 40, 50]
print("The largest number is:", max(list))

The largest number is: 50

In [49]:
#Range
num=10
start=5
end=15
if start<=num<=end:
    print(f"{num} is in the range [{start}, {end}].")

10 is in the range [5, 15].

In [57]:
#Uppercase and lowercase
string="Hello World"
upper_count=sum(1 for char in string if char is upper())
lower_count=sum(1 for char in string if char is lower())
print("Number of uppercase letters:", upper_count)
print("Number of lowercase letters:", lower_count)

NameError: name 'upper' is not defined